@import "../../../../styles";

.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  md-card {
    width: 28%;
    h2, p {
      text-align: center;
    }
  }
}
