@import "../../../../styles";

.container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: em(36) auto;
  width: $desktop-res;
  .cart {
    md-card {
      display: flex;
      justify-content: space-between;
      align-content: baseline;
      margin: em(24) 0;
      width: em(500);
    }
  }
}

@media only screen and (max-width: $desktop-res) {
  .container {
    flex-wrap: wrap;
    width: $tablet-res;
  }
}

@media only screen and (max-width: $tablet-res) {
  .container {
    width: em(320);
    .cart {
      md-card {
        width: 100%;
      }
    }
  }
}
