@import "../../../../styles";

md-card {
  margin: auto;
  width: $desktop-res;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    justify-content: space-around;
    button {
      margin: em(50) 0 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: $desktop-res) {
  md-card {
    width: $tablet-res;
    form {
      flex-wrap: wrap;
      justify-content: space-around;
      div {
        margin: em(20) 0 0;
      }
    }
  }
}

@media only screen and (max-width: $tablet-res) {
  md-card {
    width: em(320);
  }
}
